/* font-family: 'Poppins', sans-serif;
font-family: 'Alata', sans-serif; */
/* background-color: #f8f9fa; */

body {
    font-family: 'Alata', sans-serif;
    background-color: #f8f9fa;;
}
#mainNavbar, a {
    color: #6d1ed4;
}
/* Jiumbotron */
#jumbotron {
    background-color: #f8f9fa;
}