/* font-family: 'Poppins', sans-serif;
font-family: 'Alata', sans-serif; */
/* background-color: #f8f9fa; */

/* Generic Website Styling */
body {
    font-family: 'Alata', sans-serif;
    background-color: #757575;
}
#mainNavbar a {
    color: #6d1ed4;
}
#purp {
    color: #6d1ed4;
}
#purpBox {
    background-color: #6d1ed4;
}
#whiteText {
    color: white;
}
#button {
    background-color: #6d1ed4;
    border-color: #6d1ed4;
}
#button:hover {
    color: #6d1ed4;
    background-color: #ffffff;
    border-color: #6d1ed4;
}
hr {
    color: #6d1ed4;
    border-color: #6d1ed4;
}
/* Jiumbotron */
#jumbotron {
    background-color: #f8f9fa;
}

/* Text Box Section */
#tBSection {
    background-color: #ffffff;
}
/* #textBox {
    background: white;
    border: #757575 1px solid;
    border-radius: 3px;
    color: #757575;
} */

/* Cell Paragraph */
#toMobileApp {
    background-color: #f8f9fa;
}
/* Our Charities */
#ourCharities {
    background-color: #6d1ed4;
    color: white;
}
/* Paragraph Boxes */
#toMobileApp {
    color: #757575;
}
/* Footer Section */
#footerSection {
    background-color: #353535;
}
ul a {
    color: #f8f9fa;
}
ul a:hover {
    color: #d4d4d4;
}
ul .active {
    color: #a06de2;
}
#copyright {
    color: #f8f9fa
}

/*About HTML Doc*/
#showcaseAbout {
    background: url('https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') center center / cover no-repeat;
    min-height: 400px;
    position: relative;
    z-index: 1;
}
#showcaseAbout1 {
    background: url('https://images.unsplash.com/photo-1567427017947-545c5f8d16ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1895&q=80') center center / cover no-repeat;
    min-height: 400px;
    position: relative;
    z-index: 1;
}
/* #overlayAbout {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
} */

/* Login Section */
#loginSection {
    background-color: #f8f9fa;
}
#loginDiv {
    background-color: #ffffff;
    border-radius: 10px;
}