/* font-family: 'Poppins', sans-serif;
font-family: 'Alata', sans-serif; */
/* background-color: #f8f9fa; */

body {
    font-family: 'Alata', sans-serif;
    background-color: #757575;
}
#mainNavbar a {
    color: #6d1ed4;
}
#purp {
    color: #6d1ed4;
}
#purpBox {
    background-color: #6d1ed4;
}
#whiteText {
    color: white;
}
/* Jiumbotron */
#jumbotron {
    background-color: #f8f9fa;
}

/* Text Box Section */
#tBSection {
    background-color: #ffffff;
}
/* #textBox {
    background: white;
    border: #757575 1px solid;
    border-radius: 3px;
    color: #757575;
} */

/* Cell Paragraph */
#toMobileApp {
    background-color: #f8f9fa;
}
/* Our Charities */
#ourCharities {
    background-color: #6d1ed4;
    color: white;
}
/* Paragraph Boxes */
#toMobileApp {
    color: #757575;
}
/* Footer Section */
#footerSection {
    background-color: #757575;
}
ul a {
    color: #f8f9fa;
}
#copyright {
    color: #f8f9fa
}

/*About HTML Doc*/
#showcaseAbout {
    background: url('https://images.unsplash.com/photo-1540126281354-f549412ac6b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80') center center / cover no-repeat;
    min-height: 400px;
    position: relative;
    z-index: 1;
}
/* #overlayAbout {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
} */

